<div th:fragment="file(file,url)" class="flex flex-row justify-around items-center w-full border rounded p-4 hover:border-2">
    <div class="container mx-auto">
        <span th:text="${file[0]}" class="font-semibold text-md" />
    </div>
    <div>
        <button class="p-2 bg-blue-500 rounded font-semibold hover:bg-blue-600" th:id="${file[1]}"  th:attr="onclick=|download('${file[1]}')|"  >
            Download
            <svg th:id="${file[1]}" class="animate-spin  h-5 w- mx-auto ... rounded-full border-white border-b-4 hidden" viewBox="0 0 24 24">
                <!-- ... -->
              </svg>
        </button>
        
    </div>
   
</div>
